.popular-electrontic-serivce {
    background-color: #F9F9F9;
    padding-right: 7%;
    padding-left: 7%;
}

.popular-electrontic-serivce-titel {
    background-color: #ebebeb;
}

.card {
    border-radius: 8px;
    border-top: 5px solid #478e85;
}

.card-text {
    word-spacing: -3px;
    font-size: 14px;
}

.card-footer {
    display: flex;
    justify-content: end;
    color: #8b3c8f;
    cursor: pointer;
}