<div class="container-fluid">
        <div class="row" id="img-section">
            <img src="assets/w22.png" class="image w-100 p-0 m-0" height="150" />
        </div>
        <div class="row px-0">
            <h3 class="text-center fs-5 py-3 popular-electrontic-serivce-titel">كل الخدمات الالكتونية</h3>
            <div class="row py-5 mx-auto my-5 popular-electrontic-serivce" style="width: 90%">
                <div class="col-12 col-md-4 col-lg-4 mb-4">
                    <div class="card mb-3 h-100">
                        <div class="card-body">
                            <img src="assets/home/card-icon.ico" class="card-icon" />
                            <h6 class="card-title mt-1">طلب ترخيص مزاولة مهنة الصيد</h6>
                            <span class="card-text text-black-50">بطاقة حيازة زراعية يتم إصدارها وفق حدود مساحة الأرض التي
                                يحوزها
                                المزارع ويتم تسجيل بيانات الحيازة في البطاقة</span>
                        </div>
                        <div class="card-footer bg-transparent" routerLink="/home/request" >
                            <h6 class="float-left py-2" >
                                عرض التفاصيل <i class="fa-solid fa-arrow-left-long"></i>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mb-4">
                    <div class="card mb-3 h-100">
                        <div class="card-body">
                            <img src="assets/home/card-icon.ico" class="card-icon" />
                            <h6 class="card-title w-50 mt-1">طلب بطاقة حيازة زراعية</h6>
                            <span class="card-text text-black-50">بطاقة حيازة زراعية يتم إصدارها وفق حدود مساحة الأرض التي
                                يحوزها
                                المزارع ويتم تسجيل بيانات الحيازة في البطاقة</span>
                        </div>
                        <div class="card-footer bg-transparent" routerLink="/home/request">
                            <h6 class="float-left py-2">
                                عرض التفاصيل <i class="fa-solid fa-arrow-left-long"></i>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mb-4">
                    <div class="card mb-3 h-100">
                        <div class="card-body">
                            <img src="assets/home/card-icon.ico" class="card-icon" />
                            <h6 class="card-title w-50 mt-1">طلب بطاقة حيازة الثروة الحيوانية</h6>
                            <span class="card-text text-black-50">بطاقة حيازة زراعية يتم إصدارها وفق حدود مساحة الأرض التي
                                يحوزها
                                المزارع ويتم تسجيل بيانات الحيازة في البطاقة</span>
                        </div>
                        <div class="card-footer bg-transparent" routerLink="/home/request">
                            <h6 class="float-left py-2">
                                عرض التفاصيل <i class="fa-solid fa-arrow-left-long"></i>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mb-4">
                    <div class="card mb-3 h-100">
                        <div class="card-body">
                            <img src="assets/home/card-icon.ico" class="card-icon" />
                            <h6 class="card-title w-50 mt-1"> طلب ترخيص مزاولة مهنه الصيد </h6>
                            <span class="card-text text-black-50">بطاقة حيازة زراعية يتم إصدارها وفق حدود مساحة الأرض التي
                                يحوزها
                                المزارع ويتم تسجيل بيانات الحيازة في البطاقة</span>
                        </div>
                        <div class="card-footer bg-transparent" routerLink="/home/request">
                            <h6 class="float-left py-2">
                                عرض التفاصيل <i class="fa-solid fa-arrow-left-long"></i>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mb-4">
                    <div class="card mb-3 h-100">
                        <div class="card-body">
                            <img src="assets/home/card-icon.ico" class="card-icon" />
                            <h6 class="card-title w-50 mt-1"> طلب ترخيص مزاولة مهنه الصيد </h6>
                            <span class="card-text text-black-50">بطاقة حيازة زراعية يتم إصدارها وفق حدود مساحة الأرض التي
                                يحوزها
                                المزارع ويتم تسجيل بيانات الحيازة في البطاقة</span>
                        </div>
                        <div class="card-footer bg-transparent" routerLink="/home/request">
                            <h6 class="float-left py-2">
                                عرض التفاصيل <i class="fa-solid fa-arrow-left-long"></i>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mb-4">
                    <div class="card mb-3 h-100">
                        <div class="card-body">
                            <img src="assets/home/card-icon.ico" class="card-icon" />
                            <h6 class="card-title w-50 mt-1">ترخيص قارب صيد</h6>
                            <span class="card-text text-black-50">بطاقة حيازة زراعية يتم إصدارها وفق حدود مساحة الأرض التي
                                يحوزها
                                المزارع ويتم تسجيل بيانات الحيازة في البطاقة</span>
                        </div>
                        <div class="card-footer bg-transparent" routerLink="/home/request">
                            <h6 class="float-left py-2">
                                عرض التفاصيل <i class="fa-solid fa-arrow-left-long"></i>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mb-4">
                    <div class="card mb-3 h-100">
                        <div class="card-body">
                            <img src="assets/home/card-icon.ico" class="card-icon" />
                            <h6 class="card-title w-50 mt-1"> طلب ترخيص مزاولة مهنه الصيد </h6>
                            <span class="card-text text-black-50">بطاقة حيازة زراعية يتم إصدارها وفق حدود مساحة الأرض التي
                                يحوزها
                                المزارع ويتم تسجيل بيانات الحيازة في البطاقة</span>
                        </div>
                        <div class="card-footer bg-transparent" routerLink="/home/request">
                            <h6 class="float-left py-2">
                                عرض التفاصيل <i class="fa-solid fa-arrow-left-long"></i>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mb-4">
                    <div class="card mb-3 h-100">
                        <div class="card-body">
                            <img src="assets/home/card-icon.ico" class="card-icon" />
                            <h6 class="card-title w-50 mt-1"> طلب ترخيص مزاولة مهنه الصيد </h6>
                            <span class="card-text text-black-50">بطاقة حيازة زراعية يتم إصدارها وفق حدود مساحة الأرض التي
                                يحوزها
                                المزارع ويتم تسجيل بيانات الحيازة في البطاقة</span>
                        </div>
                        <div class="card-footer bg-transparent" routerLink="/home/request">
                            <h6 class="float-left py-2">
                                عرض التفاصيل <i class="fa-solid fa-arrow-left-long"></i>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mb-4">
                    <div class="card mb-3 h-100">
                        <div class="card-body">
                            <img src="assets/home/card-icon.ico" class="card-icon" />
                            <h6 class="card-title w-50 mt-1"> طلب ترخيص مزاولة مهنه الصيد </h6>
                            <span class="card-text text-black-50">بطاقة حيازة زراعية يتم إصدارها وفق حدود مساحة الأرض التي
                                يحوزها
                                المزارع ويتم تسجيل بيانات الحيازة في البطاقة</span>
                        </div>
                        <div class="card-footer bg-transparent" routerLink="/home/request">
                            <h6 class="float-left py-2">
                                عرض التفاصيل <i class="fa-solid fa-arrow-left-long"></i>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>