<div class="container-fluid pt-5 pb-2 text-center footer">
    <div class="row">
        <div class="col">
            <img src="assets/logo-light.png" class="mt-5" alt="error" width="50%" height="auto">
        </div>
        <div class="col">
            <h5>تواصل معانا</h5>
            <div class="my-3">
                <i class="fa-brands fa-instagram rounded-circle bg-light pt-1 mx-2 icon"></i>
                <i class="fa-brands fa-google-plus-g rounded-circle bg-light pt-1 mx-2 icon"></i>
                <i class="fab fa-twitter rounded-circle bg-light pt-1 mx-2 icon"></i>
                <i class="fab fa-facebook-f rounded-circle bg-light pt-1 mx-2 icon"></i>
            </div>
            <h6 class="my-3">اشترك فى النشرة البريدية للحصول على التحديثات الأخيرة</h6>
            <div>
                <div class="input-group input-group-sm mb-3 w-75 mx-auto">
                    <input type="text" class="form-control rounded-end" style="height: 40px;"
                        placeholder="ادخل البريد الألكتروني">
                    <span class="input-group-text rounded-start btn-prefix">اشترك</span>
                </div>
            </div>
        </div>
        <div class="col">
            <img src="assets/oman2040-light.png" class="mt-4" alt="error" width="45%" height="auto">
        </div>
    </div>
    <div class="px-5">
        <hr>
        <h6 style="font-weight: 100;">حقوق الطبع محفوظة@2023.وزارة الثروة الزراعية والسمكية وموارد المياة</h6>
    </div>
</div>