.icon {
    width: 25px;
    height: 25px;
    color: rgb(116, 58, 110);
}

.footer {
    background-color: rgb(148, 101, 143);
    color: white;
}

.btn-prefix {
    background-color: rgb(116, 58, 110);
    color: white;
}