.icon {
    width: 25px;
    height: 25px;
    color: #6B3F6D;
}

.footer {
    background-color: #835286;
    color: white;
}

.btn-prefix {
    background-color: #8B3C8F;
    color: white;
}

.footer-font {
    font-weight: 100;
}