input{
  background-color: #E3E3E3;
  font-weight: bold;
}
.form-label{
  font-weight: bold;
  color: #758298;
}
.next-btn
{
  width: 136px;
  background: #ffffff;
  font-size: 19px !important;
  font-weight: 400;
  color: #8b3c8f;
  border: 0.9px solid #8b3c8f;
  outline-color: #8b3c8f;
  border-radius: 8px;
  letter-spacing: 0px;
}
.profile-img
{
  border-radius: 10px;
}
