<div class="container mt-2 " style="background-color: rgb(247, 247, 247);">
  <div class="row p-3 d-flex justify-content-between mx-auto">
    <div class="col-md-6 col-sm-12 col-12  ">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">الاسم </label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=" ابراهيم محمد احمد">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">الرقم المدنى </label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="123 4566 5566 7895">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">الجنسية </label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="عمانى">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">البريد الالكترونى </label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Person@gmail.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">رقم الهاتف</label>
        <input type="phone" class="form-control" id="exampleFormControlInput1" placeholder="+968 1234 2536 5663 3245">
      </div>
    </div>
    <div class=" col-md-4 col-sm-12 col-12 pe-5 mt-1">
      <div>
        <h6 class="fw-bold">الصورة الشخصية</h6>

        <img class="profile-img p-3" style="background-color: white" src="assets/290120_account_avatar_man_profile_user_icon.svg" width="120" height="auto">
      </div>
    </div>

    <div>
      <div class="d-flex justify-content-center">

        <button type="button"  class="btn mt-2 fs-5 p-2 px-3 next-btn"
        matStepperNext  >
          التالي
        </button>
      </div>
  </div>

</div>
