* {
    padding: 0;
    margin: 0;
}

.title-color {
    text-align: center;
}

.tabs-width {
    width: 35%;
}

.btn-boder {
    border: 1px solid rgb(34, 120, 34);
}

.background-btn {
    background-color: rgb(221, 220, 220);
}

.center-text {
    text-align: center;
}

.text-color {
    color: gray;
}

.login-btn {
    background-color: #8B3C8F;
    color: white;
}

::ng-deep .mat-tab-label {
    font-size: x-large;
}