<div class="container-fluid header py-3 pt-3 text-header">
    <div class="row">
        <div class="col-3 text-center">
            <img src="assets/logo-light.png" alt="error" width="35%" height="auto">
        </div>
        <div class="col-6 d-flex mx-auto">
            <div class="col border-start ps-3 d-flex">
                <i class="fa-solid fa-phone-volume ms-2 mt-3 headers-icon"></i>
                <div class="text-header-height">
                    <p>اتصل بنا</p>
                    <p>(888) 1548 577 454</p>
                </div>
            </div>
            <div class="col border-start px-3 d-flex ">
                <i class="fa-solid fa-envelope-open-text ms-2 mt-2 headers-icon-location"></i>
                <div class="text-header-height">
                    <p>تواصل معنا</p>
                    <p>Info@gmail.com</p>
                </div>
            </div>
            <div class="col pe-3 d-flex">
                <i class="fa-solid fa-location-dot ms-2 mt-2 headers-icon-location"></i>
                <div class="text-header-height">
                    <p>العنوان</p>
                    <p>سلطنة عمان</p>
                </div>
            </div>
        </div>
        <div class="col-3 text-center">
            <img src="assets/oman2040-light.png" alt="error" width="25%" height="auto">
        </div>
    </div>
</div>