<div class="container mt-3">
  <div class="row d-flex justify-content-center pt-3">
    <h5 class="text-center p-2" style="background-color: #a28ca3;color: white;height: 50px;">طلب بطاقة حيازة زراعيه</h5>
    <div class="col-12">
      <mat-horizontal-stepper  #stepper class="mt-2 stepper">
        <ng-template matStepperIcon="person">
          <mat-icon fontIcon="person"></mat-icon>
        </ng-template>

        <ng-template matStepperIcon="camera_roll">
          <mat-icon fontIcon="camera_roll"></mat-icon>
        </ng-template>

        <ng-template matStepperIcon="monetization_on">
          <mat-icon fontIcon="monetization_on"></mat-icon>
        </ng-template>

        <mat-step label="مقدم الطلب" state="person">
          <form>
            <app-applicant ></app-applicant>
          </form>
        </mat-step>

        <mat-step label="الوثائق والمرفقات المطلوبة" state="camera_roll">
          <form>
            <app-attatchment></app-attatchment>
          </form>
        </mat-step>

        <mat-step label="رسوم الاصدار" state="monetization_on">
          <form>
            <app-payment (moveNext)="moveNext()"></app-payment>
          </form>
        </mat-step>


      </mat-horizontal-stepper>
    </div>
  </div>
</div>
