<div class="container-fluid mt-3">
  <div class="row" id="img-section">
    <img src="assets/w22.png" class="image w-100 p-0 m-0" height="150" />
  </div>
  <div class="row d-flex justify-content-center">
    <h5 class="text-center p-2" style="background-color: #ebebeb;height: 50px;">طلب بطاقة حيازة زراعيه</h5>
    <div class="col-12 col-md-10 py-4">
      <mat-horizontal-stepper  #stepper class="mt-2 stepper">
        <ng-template matStepperIcon="person" >
          <i class="fa-solid fa-user"></i>
        </ng-template>

        <ng-template matStepperIcon="camera_roll">
          <i class="fa-solid fa-camera-retro"></i>
        </ng-template>

        <ng-template matStepperIcon="monetization_on">
          <i class="fa-solid fa-hand-holding-dollar"></i>
        </ng-template>

        <mat-step label="مقدم الطلب" state="person" class="custom-step">
          <form>
            <app-applicant ></app-applicant>
          </form>
        </mat-step>

        <mat-step label="الوثائق والمرفقات المطلوبة" state="camera_roll" class="custom-step">
          <form>
            <app-attatchment></app-attatchment>
          </form>
        </mat-step>

        <mat-step label="رسوم الخدمة" state="monetization_on" class="custom-step">
          <form>
            <app-payment (moveNext)="moveNext()"></app-payment>
          </form>
        </mat-step>


      </mat-horizontal-stepper>
    </div>
  </div>
</div>
