
<div class="container rounded">
  <div class="content "  >
    <p class="text-right"><i class="fa-regular fa-circle-xmark" (click)="closePopUp()"></i></p>
    <div>
      <div class=" text-center">
      <img src="assets/apply.jpg" class="img-fluid " alt="" width="200">
      </div>
      <p class="text-sucess text-center mt-2 p-2" style="font-size:15px;color:#913f97" >تم تقديم الطلب بنجاح</p>
        <div class=" mt-2" dir="rtl">
          <span style="color: rgb(81, 81, 147);"> رقم الطلب :</span>
          <span> #333</span>

        
        </div>
        <div class=" mt-2"  dir="rtl">
          <span style="color: rgb(81, 81, 147);">  مقدم الطلب  : </span>
          <span class="f">ابراهيم</span>
      
        </div>
        <div class=" mt-2"  dir="rtl">
          <span style="color: rgb(81, 81, 147);">اسم الخدمة :</span>
          <span>طلب بطاقة حيازة زراعية</span>

          </div>
    
    </div>
  </div>
  </div>