<div class="container-fluid row my-3">
    <div class="col-2"></div>
    <div class="col-7 text-center mt-3 menu">
        <div class="d-flex">
            <p mat-button class="mx-3 cursor-pointer" [routerLink]="['/home']"
                routerLinkActive="active"><span style="text-decoration-skip-ink: none;">الرئيسية</span></p>
            <p mat-button class="mx-3">
                <span>قطاعات الوزارة </span>
                <i class="fa-solid fa-chevron-down"></i></p>
            <p mat-button class="mx-3 cursor-pointer" [routerLink]="['/home/electronic-serivce']"
                routerLinkActive="active">
                <span>
                    الخدمات الإلكترونية </span> <i class="fa-solid fa-chevron-down"></i></p>
            <p mat-button class="mx-3 cursor-pointer" routerLink="/home/news" routerLinkActive="active">
                <span>
                    الأخبار </span><i class="fa-solid fa-chevron-down"></i></p>
            <p mat-button class="mx-3">
                <span>
                    الفعاليات </span><i class="fa-solid fa-chevron-down"></i></p>
            <p mat-button class="mx-3">
                <span>
                    تواصل معنا
                </span></p>
        </div>
    </div>
    <div class="col-3">
        <a type="button" class="btn p-2 px-3 mt-2 cursor-pointer login-btn" (click)="navigateToLogin()"> <i
                class="fa-solid fa-right-to-bracket"></i> <span class="pe-2">تسجيل الدخول</span>
        </a>
    </div>
</div>